ARGO_CD_PRIVATE_REPO_USERNAME={{cookiecutter.github_username}}
CI_REGISTRY_IMAGE=registry.gitlab.com/timestep-ai/timestep
CLOUD_INSTANCE_NAME=timestep-ai
CLOUD_INSTANCE_PROVIDER=multipass
DOCKER_REGISTRY_EMAIL=m@mjschock.com
DOCKER_REGISTRY_SERVER=registry.gitlab.com
DOCKER_REGISTRY_USERNAME=m.schock
INGRESS_CONTROLLER_ACME_CA=https://acme-staging-v02.api.letsencrypt.org/directory
INGRESS_CONTROLLER_DEBUG=true
INGRESS_CONTROLLER_EMAIL=agent@timestep.ai
KUBECONTEXT=timestep.local
LOCAL_TLS_CERT_IS_ENABLED=true
PRIMARY_DOMAIN_NAME=timestep.local
SMTP_SENDER=agent@timestep.ai.test-google-a.com
SMTP_USER=agent@timestep.ai
TF_HTTP_ADDRESS=https://gitlab.com/api/v4/projects/{{cookiecutter.gitlab_project_id}}/terraform/state
TF_USERNAME={{cookiecutter.gitlab_username}}
