[submodule "3rdparty/llama.cpp"]
	path = 3rdparty/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "3rdparty/llama-cpp-python"]
	path = 3rdparty/llama-cpp-python
	url = https://github.com/abetlen/llama-cpp-python.git
