actions-runner
cdktf.out
data
.env
node_modules
*.pyc
__pycache__
.pytest_cache
.ruff_cache
secrets/*
!secrets/.gitkeep
src/timestep/infra/imports
.ssh
.venv

src/timestep/projects/farama/pettingzoo/classic/tic_tac_toe
src/timestep/projects/farama/pettingzoo/classic/tictactoe.bak
tilt-avatars

## API / PYTHON ##
*.pyc

## WEB / JS ##
node_modules/
dist/

## META / OS ##
*.tmp
.DS_Store
.idea/
