[submodule "3rdparty/llama.cpp"]
	path = 3rdparty/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "3rdparty/llamafile"]
	path = 3rdparty/llamafile
	url = https://github.com/Mozilla-Ocho/llamafile.git
[submodule "3rdparty/openai-cookbook"]
	path = 3rdparty/openai-cookbook
	url = https://github.com/openai/openai-cookbook.git
[submodule "3rdparty/tinygrad"]
	path = 3rdparty/tinygrad
	url = https://github.com/tinygrad/tinygrad.git
[submodule "3rdparty/sqlite-vec"]
	path = 3rdparty/sqlite-vec
	url = https://github.com/asg017/sqlite-vec.git
