cdktf.out
.env
node_modules
*.pyc
__pycache__
.pytest_cache
.ruff_cache
secrets/*
!secrets/.gitkeep
# src/timestep/infra/imports/**/*.jsii.tgz
.ssh
.venv

src/timestep/projects/farama/pettingzoo/classic/tic_tac_toe
src/timestep/projects/farama/pettingzoo/classic/tictactoe.bak

## API / PYTHON ##
*.pyc

## WEB / JS ##
node_modules/
dist/

## META / OS ##
*.tmp
.DS_Store
.idea/

kubeconfig
timestep-ai
timestep-ai-*.tgz

saved_observations

docs

src/CrowdPlay
src/skypilot
src/udacity
