[submodule "3rdparty/llama.cpp"]
	path = 3rdparty/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "3rdparty/llama-cpp-python"]
	path = 3rdparty/llama-cpp-python
	url = https://github.com/Timestep-AI/llama-cpp-python.git
[submodule "3rdparty/llamafile"]
	path = 3rdparty/llamafile
	url = https://github.com/Mozilla-Ocho/llamafile.git
[submodule "3rdparty/openai-cookbook"]
	path = 3rdparty/openai-cookbook
	url = https://github.com/openai/openai-cookbook.git
[submodule "3rdparty/tinygrad"]
	path = 3rdparty/tinygrad
	url = https://github.com/tinygrad/tinygrad.git
