cdktf.out
.env
node_modules
*.pyc
__pycache__
.pytest_cache
.ruff_cache
secrets/*
!secrets/.gitkeep
.ssh
.venv

## API / PYTHON ##
*.pyc

## WEB / JS ##
node_modules/
dist/

## META / OS ##
*.tmp
.DS_Store
.idea/

## MISC ##
actions-runner
docs
!dist/.gitkeep
