http://www.{$DOMAIN}:80 {
	redir http://{$DOMAIN}{uri} 308
}

http://{$DOMAIN}:80 {
	encode gzip

	@backend_routes path /_event/* /docs /openapi.json /ping /_upload /_upload/* /redoc
	handle @backend_routes {
		reverse_proxy app:8000
	}

	@local_domain expression {host}.endsWith(".local")
	handle @local_domain {
		reverse_proxy app:3000
	}

	root * /home/ubuntu/app/.web/_static
	route {
		try_files {path} {path}/ /404.html
		file_server
	}
}
