<|im_start|>{% for message in messages %}{{message['role'] | capitalize}}{% if message.get('content') and message['content'] is not none and message['content']|length > 0 and message['content'][0].get('type') == 'image' %}{{':'}}{% else %}{{': '}}{% endif %}{% if message['role'] == 'assistant' and message.get('weight', 1) == 1 %}{% generation %}{% if message.get('content') and message['content'] is not none and message['content']|length > 0 %}{% for line in message['content'] %}{% if line['type'] == 'text' %}{{line['text']}}{% elif line['type'] == 'image' %}{{ '<image>' }}{% endif %}{% endfor %}{% endif %}{% if message.get('tool_calls') %}{% for tool_call in message['tool_calls'] %}<tool_call>
{"arguments": {{tool_call['function']['arguments']}}, "name": "{{tool_call['function']['name']}}"}
</tool_call>{% endfor %}{% endif %}{% endgeneration %}{% else %}{% if message.get('content') and message['content'] is not none and message['content']|length > 0 %}{% for line in message['content'] %}{% if line['type'] == 'text' %}{{line['text']}}{% elif line['type'] == 'image' %}{{ '<image>' }}{% endif %}{% endfor %}{% endif %}{% if message.get('tool_calls') %}{% for tool_call in message['tool_calls'] %}<tool_call>
{"arguments": {{tool_call['function']['arguments']}}, "name": "{{tool_call['function']['name']}}"}
</tool_call>{% endfor %}{% endif %}{% endif %}<end_of_utterance>
{% endfor %}{% if add_generation_prompt %}{{ 'Assistant:' }}{% endif %}