[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.poetry]
authors = ["Michael James Schock <m@mjschock.com>"]
description = ""
license = "MIT"
name = "timestep"
readme = "README.md"
version = "10.0.26"

[tool.poetry.dependencies]
huggingface-hub = "^0.23.4"
llama-cpp-python = {extras = ["server"], version = "^0.2.82"}
openai = "^1.35.10"
python = "^3.10"
reflex = "^0.5.6"
tiktoken = "^0.7.0"
typer = {extras = ["all"], version = "^0.12.3"}

[tool.poetry.group.dev.dependencies]
ipykernel = "^6.29.5"
ipywidgets = "^8.1.3"
pytest = ">=7.0.0,<8.0.0"
toml-sort = "^0.23.1"

[tool.poetry.scripts]
timestep = 'timestep.main:typer_app'
