[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.poetry]
authors = ["Michael James Schock <m@mjschock.com>"]
description = ""
license = "MIT"
name = "timestep"
readme = "README.md"
version = "10.0.30"

[tool.poetry.dependencies]
connexion = {extras = ["flask", "mock", "swagger-ui", "uvicorn"], version = "^3.1.0"}
controlflow = "^0.8.2"
flask = "^3.0.3"
huggingface-hub = "^0.23.4"
instructor = "^1.3.4"
llama-cpp-python = {extras = ["server"], version = "^0.2.82"}
marvin = "^2.3.6"
openai = "^1.35.10"
python = "^3.10"
python-jose = {extras = ["cryptography"], version = "^3.3.0"}
sse-starlette = "^2.1.2"
tiktoken = "^0.7.0"
transformers = "^4.42.4"
typer = {extras = ["all"], version = "^0.12.3"}

[tool.poetry.group.dev.dependencies]
flask-testing = "^0.8.1"
ipykernel = "^6.29.5"
ipywidgets = "^8.1.3"
llama-cpp-python = {develop = true, extras = ["server"], path = "3rdparty/llama-cpp-python"}
pytest = ">=7.0.0,<8.0.0"
ruamel-yaml = "^0.18.6"
toml-sort = "^0.23.1"

[tool.poetry.scripts]
timestep = 'timestep.main:typer_app'
timestep_serve = 'llama_cpp.server.__main__:main'
