timestep.localhost {
	# root * /srv/www
	# file_server
	encode gzip

	handle /api/* {
		reverse_proxy backend:80
	}

	handle /console/* {
		reverse_proxy graphql-engine:8080
	}

	handle {
		root * /path/to/site
		try_files {path} /index.html
		file_server
	}
}

# www.timestep.local {
#   reverse_proxy netdata:19999
#   tls admin@example.org
# }
