mlflow
nvidia-ml-py
openai
protobuf<4.0.0
psutil
pynvml
ray[serve]
sse-starlette
torchvision
git+https://github.com/huggingface/transformers.git@24c91f095fec4d90fa6901ef17146b4f4c21d0a3
git+https://github.com/unslothai/unsloth.git@a2407835534747d2421f58cbdeeb5a49482e7235
git+https://github.com/unslothai/unsloth-zoo.git@3db4380926ce226677c2dfdbb5deef5e8c7ee44b
