http://{$PRIMARY_DOMAIN_NAME}:80 {
	redir http://www.{$PRIMARY_DOMAIN_NAME}{uri}
}

http://www.{$PRIMARY_DOMAIN_NAME}:80 {
	encode gzip

	handle /ap/* {
		reverse_proxy web:5000
	}

	handle /docs {
		reverse_proxy web:5000
	}

	handle /flows {
		reverse_proxy web:5000
	}

	handle /graphql {
		reverse_proxy web:5000
	}

	handle /openapi.json {
		reverse_proxy web:5000
	}

	handle /ready {
		reverse_proxy web:5000
	}

	handle /redoc {
		reverse_proxy web:5000
	}

	# handle /console/* {
	# 	reverse_proxy graphql-engine:8080
	# }

	# handle /v1/* {
	# 	reverse_proxy graphql-engine:8080
	# }

	# handle /v2/* {
	# 	reverse_proxy graphql-engine:8080
	# }

	# add_header X-Content-Type-Options "nosniff";

	# header {
	# 	# # disable FLoC tracking
	# 	# Permissions-Policy interest-cohort=()

	# 	# # enable HSTS
	# 	# Strict-Transport-Security max-age=31536000;

	# 	# # disable clients from sniffing the media type
	# 	# X-Content-Type-Options nosniff

	# 	# # clickjacking protection
	# 	# X-Frame-Options DENY

	# 	X-Frame-Options "SAMEORIGIN"
	# 	X-XSS-Protection "1; mode=block"
	# 	X-Content-Type-Options "nosniff"
	# }

	handle {
		reverse_proxy frontend:9000
	}
}
