# replace :80 with your domain name to get automatic https via LetsEncrypt
# :80 {
http://timestep.local:80 {
	redir http://www.timestep.local{uri}
}

http://www.timestep.local:80 {
	encode gzip

	handle /console/* {
		reverse_proxy graphql-engine:8080
	}

	handle /v1/* {
		reverse_proxy graphql-engine:8080
	}

	handle /v2/* {
		reverse_proxy graphql-engine:8080
	}

	handle {
		# root * /home/base/www/dist/spa
		# root * /home/base/dist/spa
		# try_files {path} /index.html
		# file_server
		reverse_proxy www:9000
	}
}
