http://{$PRIMARY_DOMAIN_NAME}:80 {
	redir http://www.{$PRIMARY_DOMAIN_NAME}{uri}
}

http://www.{$PRIMARY_DOMAIN_NAME}:80 {
	encode gzip

	@backend_routes path /_event/* /api/* /docs /items/* /openapi.json /ping /_upload /_upload/*
	handle @backend_routes {
		reverse_proxy app:8000
	}

	handle {
		# root * /home/ubuntu/app/client/dist/spa

		# Check if PRIMARY_DOMAIN_NAME ends with ".local"
		# @isLocalDomain {
		# 	expression {host}.endsWith(".local")
		# }

		# Use reverse_proxy to client:3000 if it's a ".local" domain
		# reverse_proxy @isLocalDomain app:3000
		reverse_proxy app:3000

		# header {
		# 	X-Frame-Options "SAMEORIGIN"
		# 	X-XSS-Protection "1; mode=block"
		# 	X-Content-Type-Options "nosniff"
		# }

		# root * /srv
		# route {
		# 	try_files {path} {path}/ /404.html
		# 	file_server
		# }
	}
}
